*{
    margin: 0;
    box-sizing: border-box;
}
h1{
    
    width: fit-content;
    margin: 5% auto;
}

#board{
    display: grid;
    grid-template-columns: repeat(9, minmax(50px, 65px));
    grid-template-rows: repeat(9, minmax(50px, 65px));
    width: 80%;
    margin: auto;
    place-content: center;
}

.cell{
    text-align: center;
    border: 1px solid black;
    background-color: grey;
    display: grid;
    place-items: center;

}

.show{
    background-color: rgb(190, 184, 184);
}

.bombe{
    background-color: red;
}

.bombe i {
    font-size: x-large;
 
}

#buttons-container{
    text-align: center;
    margin: 2rem;
}


#reset{
    padding : 0.5rem;
    border: 1 px solid black;
    background-color: rgb(80, 199, 80);
    border-radius: 10px;
}

#reset:hover{
    padding: 1rem;
}

body{
    background-color: rgb(235, 195, 139);
  
}

@media screen and (max-width: 700px){

    #board{
        grid-template-columns: repeat(9, 30px);
        grid-template-rows: repeat(9, 30px);
    }

}